        <footer>
            <p> Zespołowy projekt informatyczny
                <span class="foot-i">
                    <a href=""><i class=" fas fa-envelope-square"></i>liga.typerow.zpi@gmail.com</a>
                </span>
            </p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>