        <footer>
            <p> Zespołowy projekt informatyczny<a href="mailto:liga.typerow.zpi@gmail.com"> liga.typerow.zpi@gmail.com</a></p>                  
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="script/api.js"></script>
        <script src="/script/scripts.js"></script>

    </body>

</html>