@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /* color: white; */
}

.scoreBoard {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.scoreBoardHeader {
    text-align: center;
    padding-top: 2rem;
}

.scoreBoard h4:nth-of-type(2n) {
    margin-top: 1rem;
}

.finishedMatchesList,
.UpcomingMatchesList {
    max-height: 500px;
    overflow-y: scroll;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    font-size: 18px;
    width: 95%;
}

.table {
    width: 45%;
    margin-top: 1rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.leagueTable {
    display: none;
}

.leagueTable h1 {
    margin-top: 5rem;
}

.teamCrest {
    height: 35px;
    width: 40px;
}

.list-group-item-dark {
    color: white;
    background-color: #212529;
}

/* FOOTER*/
footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
	height: 75px;
    margin-top: 50px;
	background-color:green;
	color: white;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
}
footer a {
	text-decoration: none;
	color: white;
}

.foot-i i {
	padding: 0 20px;
	font-size: 30px;
	color: white;
	transition: color 0.5s;
}