@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	/* color: white; */
	padding-bottom: 75px;
	position: relative;
	min-height:100vh; 
	margin:0; 
}

/* NAVBAR */
.logo {
	height: 55px;
}

/* homepage-bg */
.homepage-bg {
	position: relative;
    height: 500px;
	width: 100%;
	background: url(/img/homepage-bg1920x1280.png);
	background-size: 100% 140%;	
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid white;
    /* z-index: -1; */	
}

/* oferta lig */
#leagues h1 {
	border-bottom: 1px solid green;
}

.card_mp {
	box-shadow: 8px 8px 24px 0px rgb(66 68 90);
	color: white;
	background-color: #212529;
	transition: .6s;
}

.card_mp:hover {
	background-color: #333!important;
	transform: scale(1.1);
}

.card_mp img {
	max-height: 100%;
	max-width: 150px;
	padding: 3px;
	background-color: white;
}

/* FOOTER*/
footer {
	display: flex;
	flex-direction: column;
	position: absolute;
    bottom: 0;
    width: 100%;
	height: 75px;
	background-color: green;
	color: white;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	margin-top: 10px;
}

footer a {
	text-decoration: none;
    color: rgb(168, 228, 252);
    margin-left: 1rem;
	transition: .3s;
}

footer a:hover {
	color: white;
}

footer p{
	margin-bottom: 0px;
}

.foot-i i {
	padding: 0 20px;
	font-size: 30px;
	color: white;
	transition: color 0.5s;
}

/* login page */
.login-size {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 25%;
	min-width: 200px;
	/* border-bottom: 3px solid green; */
	/* border-top: 3px solid green; */
	padding: 10px;
}
.zap {
	min-height: 500px;
}
.bor-div {
	border-bottom: 3px solid green;
	border-top: 3px solid green;
	margin-left: 20%;
	margin-right: 20%;
}

/* Statistics */

.scoreBoard {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.scoreBoardHeader {
	text-align: center;
	/* padding-top: 2rem; */
	margin: 2rem 0rem;
}

.scoreBoard h4:nth-of-type(2n) {
	margin-top: 1rem;
}

.finishedMatchesList,
.UpcomingMatchesList {
	max-height: 500px;
	overflow-y: scroll;
	-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	font-size: 18px;
	width: 100%;
	margin-bottom: 3rem;
}

.tableStandings {
	width: 45%;
	margin-top: 1rem;
	-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.table{
	-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.leagueTable {
	display: none;
}

.leagueTable h1 {
	margin-top: 5rem;
}

.teamCrest {
	/* height: 35px; */
	/* width: 40px; */
	width: 20%;
}

.teamNames{
	margin-left: 1rem;
	color: #198754;
	font-weight: bold;
}

.matchDates{
	margin-right: 3rem;
}

.list-group-item-dark {
	color: rgb(0, 0, 0);
	background-color: #ffffff;
}

/* Custom button styles */
.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.btn-success{
	background-image: radial-gradient(100% 100% at 100% 0, #7dd390 0, #0c8320 100%);
}

.btn-danger{
	background-image: radial-gradient(100% 100% at 100% 0, #ff0c00 0, #bf1414 100%);
}

.btn-warning{
	background-image:radial-gradient(100% 100% at 100% 0, #fbff00 0, #e0a800 100%);
	color: black;
}

.btn-dark{
	background-image: radial-gradient(100% 100% at 100% 0, #858585 0, #070602 100%);
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset; 
  transform: translateY(-2px);
}

.btn-danger:hover{
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #911302 0 -3px 0 inset; 
}

.btn-success:hover{
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #075714 0 -3px 0 inset; 
}

.btn-warning:hover{
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6e6d04 0 -3px 0 inset; 
}

.btn-dark:hover{
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0303037c 0 -3px 0 inset; 
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

@media only screen and (max-width: 700px) {
	.finishedMatchesList,
	.UpcomingMatchesList,
	.table {
		font-size: 9px;
	}

	.matchDates {
		margin-right: 0.5rem;
	}

	.table>:not(caption)>*>* {
		padding: 0;
	}

	footer {
		font-size: 10px;
	}

	h2 {
		font-size: 5px!important;
	}

	.homepage-bg {	
		height: 350px;	
		background: url(/img/homepage-bg640x426.jpg);	
		/* background-size: cover;	 */
		background-size: 105% 120%;	
		background-repeat: no-repeat;
		background-position: center;
		border-bottom: 1px solid white;
	}
}

@media only screen and (max-width: 576px) {
	.card_mp img {
		max-height: 90px;
		max-width: 100%;
	}
}