<div class="container">
    <h1>Dołącz do ligi</h1>

    <form method="POST">
        <div class="mb-3">
            <label for="" class="form-label">Kod do ligi</label>
            <input type="text" name="code" maxlength="30" value="<%= form.code %>"
                class="form-control <%- errors?.code ? 'is-invalid' : '' %>" required>
            <% if (errors?.code) { %>
            <div class="invalid-feedback"><%= errors.code.message %></div>
            <% } %>
        </div>

        <button class="btn btn-success">Dołącz</button>
    </form>

    <!-- powinno być " typeof errors !== 'undefined' ", ale mamy zmienną zdefiniowaną w view-middleware -->
    <% if (errors) { %>
    <div class="alert alert-danger mt-3 text-center">        
        Błąd! Nieprawidłowy kod ligi!
    </div>
    <% } %>
</div>