<main>
	<!-- slider -->
	<section class="homepage-bg"></section>
	<!-- slider -->

	<!-- oferta lig -->
	<section id="leagues ">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center p-4 mt-3 mb-3">Dostępne ligi:</h1>
				</div>
			</div>
			<div class="row d-flex flex-column justify-content-center p-4">
				<div class="col-12 mb-4">
					<div class="card bg-black d-sm-flex flex-sm-row card_mp">
						<img src="/img/PL_1.svg" alt="PL" />
						<div class="card-body">
							<h4 class="text-center p-3">Premier League</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich w Anglii, będąca jednocześnie najwyższym szczeblem
								centralnym (I poziom ligowy), utworzona 20 lutego 1992 i od tego
								momentu zarządzana przez FA Premier League. Zmagania w jej
								ramach toczą się cyklicznie (co sezon od sierpnia do maja),
								systemem kołowym i przeznaczone są dla 20 najlepszych
								angielskich i walijskich klubów piłkarskich. Ich triumfator
								zostaje mistrzem Anglii, zaś najsłabsze drużyny są relegowane do
								EFL Championship.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card bg-black d-sm-flex flex-sm-row card_mp">
						<img src="/img/serieA_1.svg" alt="Serie A" />
						<div class="card-body">
							<h4 class="text-center p-3">Serie A</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich we Włoszech, będąca jednocześnie najwyższym
								szczeblem centralnym (I poziom ligowy), utworzona w 1929 roku i
								zarządzana przez Lega Nazionale Profesionisti Serie A (do 2010
								Lega Calcio), a wcześniej przez Włoski Związek Piłki Nożnej
								(FIGC). Zmagania w jej ramach toczą się cyklicznie (co sezon) i
								przeznaczone są dla 20 najlepszych krajowych klubów piłkarskich.
								Jej triumfator zostaje Mistrzem Włoch, zaś najsłabsze drużyny są
								relegowane do Serie B (II ligi włoskiej).
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card bg-black d-sm-flex flex-sm-row card_mp">
						<img src="/img/bundesliga_1.svg" alt="bundesliga" />
						<div class="card-body">
							<h4 class="text-center p-3">Bundesliga</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich w Niemczech, będąca jednocześnie najwyższym
								szczeblem centralnym (I poziom ligowy), utworzona w 1962 roku i
								zarządzana przez Niemiecki Związek Piłki Nożnej (DFB) i Deutsche
								Fussball-Liga (DFL). Zmagania w jej ramach toczą się cyklicznie
								(co sezon) i przeznaczone są dla 18 najlepszych krajowych klubów
								piłkarskich. Jej triumfator zostaje Mistrzem Niemiec, zaś
								najsłabsze drużyny są relegowane do 2. Bundesligi (II ligi
								niemieckiej).
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card bg-black d-sm-flex flex-sm-row card_mp">
						<img src="/img/laliga_1.svg" alt="Laliga" />
						<div class="card-body">
							<h4 class="text-center p-3">LaLiga</h4>
							<p>
								Primera División (zwana także La Liga Santander od nazwy
								sponsora) – najwyższa w hierarchii klasa męskich ligowych
								rozgrywek piłkarskich w Hiszpanii, będąca jednocześnie
								najwyższym szczeblem centralnym (I poziom ligowy), utworzona w
								1929 roku i zarządzana przez Liga de Fútbol Profesional (LFP), a
								wcześniej przez Królewską Hiszpańską Federację Piłki Nożnej
								(RFEF). Zmagania w jej ramach toczą się cyklicznie (co sezon) i
								przeznaczone są dla 20 najlepszych krajowych klubów piłkarskich.
								Jej triumfator zostaje Mistrzem Hiszpanii, zaś najsłabsze
								drużyny są relegowane do Segunda División (II ligi
								hiszpańskiej).
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- oferta lig -->
</main>