<main>
	<!-- slider -->
	<section class="main-slider" id="main-slider">
		<div class="col-12 back">
			<div class="container">
				<div
					id="carouselExampleCaptions"
					class="carousel slide col-12"
					data-bs-ride="carousel"
				>
					<div class="carousel-indicators">
						<button
							type="button"
							data-bs-target="#carouselExampleCaptions"
							data-bs-slide-to="0"
							class=""
							aria-label="Slide 1"
						></button>
						<button
							type="button"
							data-bs-target="#carouselExampleCaptions"
							data-bs-slide-to="1"
							aria-label="Slide 2"
							class="active"
							aria-current="true"
						></button>
					</div>
					<div class="carousel-inner b-h">
						<div class="carousel-item">
							<div class="carousel-caption d-none d-md-block text-slider1">
								<h2>
									Sprawdź się ze swoimi znajomymi w najlepszym darmowym
									typerze!!!
								</h2>
								<p>
									Jeżeli szukasz miejsca, w którym mógłbyś zmierzyć się w walce
									o tytuł najlepszego typera to lepiej nie mogłeś trafić!
								</p>
							</div>
						</div>
						<div class="carousel-item active">
							<div class="carousel-caption d-none d-md-block text-slider2">
								<h2 class="text-center">Gwarantujemy</h2>
								<ul class="li-1">
									<li>Rozmaitą ofertę ryzwalizacji</li>
									<li>Możliwość tworzenia i dołączania do wielu lig</li>
									<li>Aktualne mecze i rankingi</li>
								</ul>
								<h2>ale przede wszystkim nie zapominamy o świetnej zabawie</h2>
							</div>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#carouselExampleCaptions"
						data-bs-slide="prev"
					>
						<span
							class="carousel-control-prev-icon arrow"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#carouselExampleCaptions"
						data-bs-slide="next"
					>
						<span
							class="carousel-control-next-icon arrow"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- slider -->

	<!-- oferta lig -->
	<section id="leagues ">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center p-4 mt-3 mb-3">Dostępne ligi:</h1>
				</div>
			</div>
			<div class="row d-flex flex-column justify-content-center p-4">
				<div class="col-12 mb-4">
					<div class="card d-flex flex-row card_mp">
						<img src="/img/PL_1.svg" alt="PL" />
						<div class="card-body">
							<h4 class="text-center p-3">Premier League</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich w Anglii, będąca jednocześnie najwyższym szczeblem
								centralnym (I poziom ligowy), utworzona 20 lutego 1992 i od tego
								momentu zarządzana przez FA Premier League. Zmagania w jej
								ramach toczą się cyklicznie (co sezon od sierpnia do maja),
								systemem kołowym i przeznaczone są dla 20 najlepszych
								angielskich i walijskich klubów piłkarskich. Ich triumfator
								zostaje mistrzem Anglii, zaś najsłabsze drużyny są relegowane do
								EFL Championship.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card d-flex flex-row card_mp">
						<img src="/img/serieA_1.svg" alt="Serie A" />
						<div class="card-body">
							<h4 class="text-center p-3">Serie A</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich we Włoszech, będąca jednocześnie najwyższym
								szczeblem centralnym (I poziom ligowy), utworzona w 1929 roku i
								zarządzana przez Lega Nazionale Profesionisti Serie A (do 2010
								Lega Calcio), a wcześniej przez Włoski Związek Piłki Nożnej
								(FIGC). Zmagania w jej ramach toczą się cyklicznie (co sezon) i
								przeznaczone są dla 20 najlepszych krajowych klubów piłkarskich.
								Jej triumfator zostaje Mistrzem Włoch, zaś najsłabsze drużyny są
								relegowane do Serie B (II ligi włoskiej).
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card d-flex flex-row card_mp">
						<img src="/img/bundesliga_1.svg" alt="bundesliga" />
						<div class="card-body">
							<h4 class="text-center p-3">Bundesliga</h4>
							<p>
								Najwyższa w hierarchii klasa męskich ligowych rozgrywek
								piłkarskich w Niemczech, będąca jednocześnie najwyższym
								szczeblem centralnym (I poziom ligowy), utworzona w 1962 roku i
								zarządzana przez Niemiecki Związek Piłki Nożnej (DFB) i Deutsche
								Fussball-Liga (DFL). Zmagania w jej ramach toczą się cyklicznie
								(co sezon) i przeznaczone są dla 18 najlepszych krajowych klubów
								piłkarskich. Jej triumfator zostaje Mistrzem Niemiec, zaś
								najsłabsze drużyny są relegowane do 2. Bundesligi (II ligi
								niemieckiej).
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="card d-flex flex-row card_mp">
						<img src="/img/laliga_1.svg" alt="Laliga" />
						<div class="card-body">
							<h4 class="text-center p-3">LaLiga</h4>
							<p>
								Primera División (zwana także La Liga Santander od nazwy
								sponsora) – najwyższa w hierarchii klasa męskich ligowych
								rozgrywek piłkarskich w Hiszpanii, będąca jednocześnie
								najwyższym szczeblem centralnym (I poziom ligowy), utworzona w
								1929 roku i zarządzana przez Liga de Fútbol Profesional (LFP), a
								wcześniej przez Królewską Hiszpańską Federację Piłki Nożnej
								(RFEF). Zmagania w jej ramach toczą się cyklicznie (co sezon) i
								przeznaczone są dla 20 najlepszych krajowych klubów piłkarskich.
								Jej triumfator zostaje Mistrzem Hiszpanii, zaś najsłabsze
								drużyny są relegowane do Segunda División (II ligi
								hiszpańskiej).
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- oferta lig -->
</main>